body {
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    font-family: Helvetica,  Arial, sans-serif;
    margin: 0;
    padding-bottom: 40px;
  }


.header-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    overflow: visible;
    position: relative;
    top: 0;
    background-color: inherit;
}

.logo {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    width: 100%;
    padding-top: 10px;
}

.logo a {
    font-family: Helvetica,  Arial, sans-serif;
    font-size: 2em;
    font-weight: normal;
    line-height: 1;
    color: black;
    letter-spacing: -0.075;
    white-space: nowrap;
    box-sizing: border-box; 
    text-decoration: none;
    cursor: pointer;
}

.logo a:hover {
    font-family: Times, serif;
    font-style: italic;
    letter-spacing: -2px;
    padding-right: 4px;
}


.go-back {
    margin: 0px;
}

.go-back a {
    text-decoration: none;
}

.title {
    font-size: 1.8em;
    padding-left: 20px;
    padding-right: 20px;
}

.language-buttons {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

.smalltext {
    font-size: 14px;
    text-align: left;
    padding: 20px;
}

@media (min-width: 768px) {
    .header-container {
        padding: 20px;
    }
    .logo a {
        font-size: 5em;
    }
    .title {
        font-size: 2.4em;
    }
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: #000;
        color: #fff;
    }
    .logo a {
        color: white;
    }
    nav a {
        color: white;
    }
    .contact-details a {
        color: white;
    }
    .toggle-label {
      color: white;
    }
    .imprint-link a {
        color: white;
    }
}

