body {
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding-bottom: 40px;
  }

::selection {
  background: yellow; 
  color: red; 
}

  @font-face {
      font-family: 'Snell';
      src: url('/assets/Snell-Roundhand-Script.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }

.header-container {
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    overflow: visible;
    top: 0;
    z-index: 10;
    background-color: transparent;
}

.logo {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    width: 100%;
    padding-top: 10px;
}


.logo a {
    font-size: 2em;
    font-weight: 500;
    color: black;
    line-height: 1;
    letter-spacing: -0.075em;
    white-space: nowrap;
    box-sizing: border-box; 
    text-decoration: none;
    cursor: pointer;
}

.logo a:hover {
    font-family: Snell, serif;
    font-size: 2.1em;
}

.title {
    font-size: 1.8em;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px;
}

section {
  padding: 20px;
}

.language-buttons {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

.smalltext {
    font-size: 14px;
    text-align: left;
    padding: 20px;
}

@media (min-width: 768px) {
    .header-container {
        padding: 20px;
    }
    .logo a {
        font-size: 3em;
    }
.logo a:hover {
    font-size: 3.1em;
}
    .title {
        font-size: 2em;
    }
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: #000;
        color: #fff;
    }
    .logo a {
        color: white;
    }
    nav a {
        color: white;
    }
    .contact-details a {
        color: white;
    }
    .toggle-label {
      color: white;
    }
    .imprint-link a {
        color: white;
    }
}

