body {
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    font-family: Instrument Sans, sans-serif;
    margin: 0;
    padding: 0;
}


.header-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    overflow: visible;
    position: relative;
    top: 0;
    background-color: inherit;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.logo a {
    font-size: 30px;
    font-weight: normal;
    line-height: 36px;
    color: black;
    font-family: 'Funnel Display', serif;
    margin-top: 10px;
    white-space: nowrap;
    box-sizing: border-box; 
    text-decoration: none;
    cursor: pointer;
}

.logo a:hover {
    font-family: Trocchi, serif;
    font-style: italic;
    padding-right: 4px;
}

.go-back {
    margin: 0px;
}

.go-back a {
    text-decoration: none;
}
@font-face {
    font-family: 'SaansTRIAL';
    src: url('https://github.com/mori77z/mori77z.github.io/raw/refs/heads/main/assets/SaansTRIAL-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.name {
    font-family: 'SaansTRIAL';
    font-size: 28px;
    color: black;
}

.contact-details {
    margin-top: 20px;
    text-align: center;
}

.contact-details a {
    color: #007BFF;
}

.bio {
    margin: 40px auto;
    max-width: 600px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.cv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 800px;
    margin: 20px auto;
    gap: 20px;
}

.cv div {
    padding: 10px;
    text-align: left;
}

@media (min-width: 768px) {
  .logo a {
        font-size: 48px;
    }
    .go-back a {
        font-size: 48px; 
    }
    .name {
        font-size: 36px;
    }
}
