body {
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    font-family: Times, serif;
    margin: 0;
    padding-bottom: 40px;
  }

@media screen and (max-device-width: 0px) {
  [data-hidden="true"] {
    display: none;
  }
}

  @font-face {
      font-family: 'Snell';
      src: url('/assets/Snell-Roundhand-Script.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }

.header-container {
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    overflow: visible;
    top: 0;
    z-index: 10;
    background-color: transparent;
}

.logo {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    width: 100%;
    padding-top: 10px;
}

.logo a {
    font-size: 2em;
    font-weight: 500;
    color: black;
    line-height: 1;
    letter-spacing: -0.075em;
    white-space: nowrap;
    box-sizing: border-box; 
    text-decoration: none;
}

.logo a:hover {
    font-family: Snell, serif;
    font-size: 2.1em;
}

.name {
    margin-bottom: 0;
    font-weight: 400;
    letter-spacing: -0.075em;
    font-size: 1.8em;
}

.capital {
    font-weight: 600;
}

#hover-image {
  position: fixed;
  width: 200px;
  height: auto;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease;
  z-index: -1;
}

.contact-details {
    text-align: center;
}

.contact-details a {
    color: black;
}

.bio-container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    max-width: 600px;
    padding: 0 20px;
    margin: 0 auto;
}

.bio {
    text-align: justify;
    text-wrap: pretty
    max-width: 600px;
}

.language-buttons {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.imprint-link {
    text-align: center;
    margin-bottom: 20px;
}

.imprint-link a {
    font-size: 20px;
    color: black;
}


@media (min-width: 768px) {
    .header-container {
        padding: 20px;
    }
    .logo a {
        font-size: 3em;
    }
    .logo a:hover {
    font-size: 3.1em;
    }
    .name {
        font-size: 2em;
    }
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: #000;
        color: #fff;
    }
    .logo a {
        color: white;
    }
    nav a {
        color: white;
    }
    .contact-details a {
        color: white;
    }
}
